@charset "UTF-8";

*{margin: 0; padding: 0;}

#Applykeyimage{
    width: 100%;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 3px #333;
}

#Applykeyimage img{
	width: 100%;
}

#Applykeyimage span{
	position: absolute;
	left: 130px;
}

#Applykeyimage .keyimage_title{
	font-size: 23pt;
	font-weight: bold;
	top: 80px;
}

#Applykeyimage .keyimage-content1{
	top: 150px;
}

#Applykeyimage .keyimage-content2{
	top: 250px;
}

section{
	width: 100%;
}

#category_group{
	margin-top: 50px;
	margin-bottom: 40px;
}

#category_group > ul{
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

#category_group > ul li{
	float: left;
	width: 20%;
	text-align: center;
	background: #888;
	padding: 10px 0;
}

#category_group > ul li a{
	color: #fff;
	display: block;
	border-right: 1px solid #fff;
}

#category_group > ul li:hover a{
	font-weight: bold;
}

table{
	width: 80%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 30px;
    
}

tr{
    border: 1px solid #ccc;
    display: table-row;
    vertical-align: inherit;
    border-color: #ccc;
}
            
th{
    font-size: 12.5pt;
    background: #888888;
    width: 120px;
    height: 50px;
    color: #fff;
}
            
td{
    padding: 20px 0 20px 30px;
    border-left: 1px solid #ccc;
    color: #595b59;
}

td a{
    color: #595b59;
}

td p{
    margin-top: 5px;
    color: #595b59;
    font-size: 0.8em;
}

td p a{
    color: #595b59;
    font-size: 1.3em;
    font-weight: bold;
}

td a:hover{
    text-decoration: underline;
}

.apply{
	width: 80px;
	border: 0;
    display: inline;
    margin-top: 10px;
    padding: 5px;
}